@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color0: #A6916A;
    --color1: #A67233;
    --color2: #8C592B;
    --color3: #40241A;
    --color4: #260101;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: #fff;
}



nav a {
    font-size: 32px;
    margin-left: 30px;
    font: bolder 22px 'Arial';
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    transition:
        background-color 0.25s,
        color 0.25s,
        border-radius 0.25s;
}

nav a:hover {
    background-color: var(--color2);
    color: white;
    border-radius: 5px;
}

/**
 * CLASSES
 */

.header-title-container a {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 2px;
}

.first-image {
    background: url('../images/header-image.jpg') no-repeat center center;
    background-size: cover;
    min-height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.first-image-content {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.first-image-content > input {
    background-color: var(--color1);
    padding: 20px 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.second-section-content {
    background-color: white;
    margin-top: 35px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 900px;
}

.second-section-content i {
    font-size: 32px;
}

.second-section-content p, .second-section-content i {
    color: var(--color4)
}

.second-section-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 0 50px;
}

.item img {
    width: 350px;
    height: 300px;
}


.item-lore {
    color: var(--color3);
    font: bold 22px Arial;
    text-align: center;
    padding: 25px 0;
}

.item-lore p:last-child {
    color: var(--color1);
}

/**
  * IDs
  */
#first-section-container {
    background-color: var(--color4);
    min-height: 50vh;
}

#second-section-container {
    background-color: var(--color3);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#first-aside-container {
    height: 0;
}

#second-aside-container {
    margin-top: 220px;
}

#list-items-one, #list-items-second {
    padding: 25px 0px;
    display: flex;
}

/**
  * Others
  */
nav a,
header-title a {
    color: var(--color3);
}

#header-title {
    text-decoration: none;
    color: var(--color3);
}